<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SMIL Messenger</title>

        <!-- CSS and favicon -->
        <%- include('partials/css.ejs') %>
        <%- include('partials/favicon.ejs') %>
    </head>
    <body onload="buildTable();">
    <!-- <body> -->

        <%- include('partials/navbar.ejs', {page: 'compose', user}) %>

        <div class="sidebar-outside-container">
            <form method="post" id="compose_form">
                <div class="smil-compose-form">
                    <div class="form-group">
                        <label for="recepient">Recepient:</label>
                        <div class="input-group">
                            <!-- cb-test: value -->
                            <input class="form-control" name="recepient" id="recepient" type="email" value="bob@test.com" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recepient">Subject:</label>
                        <div class="input-group">
                            <!-- cb-test: value -->
                            <input class="form-control" name="subject" id="subject" minlength="1" maxlength="100" value="test msg" required/>
                        </div>
                    </div>
                </div>
                <div class="smil-compose-form">
                    <div id="smil-table">
                        <!-- <thead>
                                <tr>
                                    <th></th>
                                    <th>Start</th>
                                    <th>Duration</th>
                                    <th>Message</th>
                                    <th></th>
                                </tr>
                            </thead> -->
                            <div class="container-fluid">
                                <div class="row smil-compose-row-header" id="smil-header-row">
                                </div>
                                <div id="smil-element-rows">
                                    <!-- <div class="form-inline"> -->
                                    <!-- <div class="form-group col-sm-10"> -->
                                    <!-- <div class="form-group input-group">    -->

                                </div>
                                <div class="row" style="margin: 10px 0px;">
                                    <div class="col-sm-10"></div>
                                    <div class="col-sm-2"><input type="button" value="+" style="font-size: 1.5rem; font-weight: bold;" onclick="addRow()"></div>
                                </div>
                            </div>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-2 col-lg-3">

                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <button type="submit" class="btn btn-lg btn-primary" formaction="/compose-draft">Save Draft</button>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <button type="submit" class="btn btn-lg btn-primary" formaction="/compose-send">Send</button>
                    </div>
                    <div class="col-sm-3 col-md-4 col-lg-5">

                    </div>
                </div>
                <input name="smil_text" id="smil_text" style="display: none" value="">
            </form>
        </div>

        <!--Scripts-->
        <%- include('partials/scripts.ejs') %>

        <script type="text/javascript">

            $('#compose_form').submit(function() {
                buildSmilMessage();
                return true;
            });

            function onPressTest(){
                buildSmilMessage();
            }
            var row_count = 0;

            console.log("row_count:" + row_count)

            function buildTable() {
                addRow();
                addHeader();
            }
            
            function addHeader() {
              document.querySelector('#smil-header-row').insertAdjacentHTML(
                'beforeend',
                `
                    <div class="col-sm-2">Start</div>
                    <div class="col-sm-2">Duration</div>
                    <div class="col-sm-7">Message</div>
                    <div class="col-sm-1"></div>
                ` 
                )
            }


            function addRow() {
              document.querySelector('#smil-element-rows').insertAdjacentHTML(
                'beforeend',
                `<div class="row" style="margin: 10px 0px;">
                    <div id="input-group#${row_count}" class="input-group">
                        <div class="col-sm-2"><input class="form-control" name="elem[${row_count}][begin]" type="number" min="0" required/></div>
                        <div class="col-sm-2"><input class="form-control" name="elem[${row_count}][dur]" type="number" min="1" max="30" required/></div>
                        <div class="col-sm-6"><input type="text" class="form-control" name="elem[${row_count}][txt]" rows="1" minlength="1" maxlength="30" required/></input></div>
                        <div class="col-sm-2"><input type="button" value="X" onclick="removeRow(this)" style="font-size: 1.2rem; font-weight: bold;"></div>
                    </div>
                </div>`
              )
              row_count++;
              console.log("row_count:" + row_count)
            }

            function removeRow (input) {
                console.log(input);
                var parent = input.parentNode.parentNode.parentNode;
                console.log(parent);
              var group_id = input.parentNode.parentNode.id;
              console.log(`group id is ${group_id}`);
              var start_pos = group_id.indexOf("#")
              var group_id_len = group_id.length
              var group_id_num = group_id.substring(start_pos+1, group_id_len)

              console.log("row_count:" + row_count)
              if (row_count > 1)
              {
                input.parentNode.parentNode.parentNode.remove()
                row_count--;
                console.log("row_count:" + row_count)
              }
            }
        </script>
    </body>
</html>