<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SMIL Messenger</title>

        <!-- CSS -->
        <%- include('partials/css.ejs') %>
    </head>
    <body>

        <div class="card smil-form margin-center">
            <div class="smil-form-header">
                <h3 class="card-title smil-form-text-header">Forgot Password</h3>
            </div>
            <hr>
            <div class="card-body smil-form-body">
                <form action="/forgot_password" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input class="form-control" name="user_email" placeholder="Email" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary smil-form-button margin-center">Send Reset Link</button>
                    </div>
                    <hr>
                    <a class="display-block text-center" href="/login">Return to login</a>
                </form>
            </div>
        </div>
        

        <!--Scripts-->
        <%- include('partials/scripts.ejs') %>

        <script>
            <% if (alertMessage !== null) { %>
                alert("<%= alertMessage %>");
            <% } %>
        </script>
    </body>
</html>