<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SMIL Messenger</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p><%= message %></p>


        <% for (let i = 0; i < 20; i++) { %>
            <p><%= i %></p>
        <% } %>
    </body>
</html>