<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SMIL Messenger</title>

        <!-- CSS -->
        <%- include('partials/css.ejs') %>
    </head>
    <body>
        

        <!--Scripts-->
        <%- include('partials/scripts.ejs') %>
    </body>
</html>